.roles {
    margin: 0px;
    padding: 7.1rem;
    background-color: #161B7F;
}

.role {
    background-color: lightgrey;
    border-bottom: 1px solid rgba(22, 27, 127, .4);
    border-radius: 12px;
    box-shadow: 4px 4px 17px 0px rgba(0, 0, 0, .75);
    margin: 2rem;
    padding: 2.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

.logoWrapper {
    text-align: center;
    margin: 4rem;
    border: 1px solid #0683D7;
}

.rolesPageTitle {
    color: #8D3FD0;
    padding-left: 2.5rem;
}

.roleTitleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roleActionsWrapper {
    color: #223CCF;
}