.btn {
    background-color: #8D3FD0;
    margin-left: 2em;
    border: .1rem solid #8D3FD0;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    padding: .4rem 1.2rem;
    margin: 1rem;
    display: inline-block;
}

.btn:hover {
    cursor: pointer;
    border: .1rem solid #ED3D63;
    background-color: #ED3D63;
    /* box-shadow: 0px 0px 14px 0px rgba(24, 23, 23, 0.5); */
}