.interests {
    background-color: #8D3FD0;
    /* #161B7F; */
    /* opacity: .4px; */
}

.interestsList {
    width: 80%;
    margin: 0px auto;
    padding: 8.5rem 0px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.interestsListItem {
    width: 31%;
    border: .15rem solid #ED3D63;
    border-radius: 12px;
    background-color: white;
}

.interestsListItem h4 {
    margin: 0px;
    padding: .3rem;
    background-color: #ED3D63;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.interestsListItem p {
    padding: 1rem;
}

.interestsListIcon {
    width: 21%;
    margin: 0px auto;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 0px;
    color: #ED3D63;
    border: 2px solid #ED3D63;
    border-radius: 50%;
}