.notFound {
    height: 100vh;
    background: #161B7F;
    margin-top: 0px;
    padding: 6em 10em;
    font-size: 42px;
    text-align: center;
    font-style: italic;
    text-shadow: rgba(22, 27, 127, .1);
    color: #ED3D63;
    ;
    /* font-family: Parisienne; */
}

.scarabIcon {
    font-size: 170px;
}