.about {
    width: 60%;
    margin: 0px auto;
    margin-top: 4rem;
    margin-bottom: 7rem;
    border-bottom: 1px solid $palatinateBlue;
    
    &-profile-picture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 9rem;
        border: 4px solid $palatinateBlue;
        border-radius: 50%;
    }
    
    &-profile-description {
        text-align: justify;
    }
}