.interests {
    width: 80%;
    margin: 0px auto;
    padding: 4rem 0px;

    &-list {
        display: flex;
        justify-content: space-between;
        list-style: none;

        &-item {
            h4 {
                margin: 0px;
                padding: .3rem;
                background-color: $paradisePink;
                color: white;
                text-align: center;
                text-transform: uppercase;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }

            p {
                padding: 1rem;
            }
            
            width: 31%;
            border: .1rem solid $paradisePink;
            border-radius: 12px;
        }
    }
}