@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

.primary-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
    margin-right: 7rem;

    &-item {
        padding: .5em;
        font-size: 1.2em;
        
        &:hover {
            cursor: pointer;
            border-bottom: .1rem solid $paradisePink;
        }

        &:last-child {
            margin-left: 2em;
            border: .1rem solid $darkOrchid;
            font-weight: bold;
            border-radius: 12px;
            color: $darkOrchid;

            &:hover {
                border-color: $paradisePink;
                color: $paradisePink;
            }
        }

        i {
            padding-right: .5em;
        }
    }
}