.recent-article {
    background-image: linear-gradient(to right top, #8d3fd0, #7f3ed0, #703dd0, #5f3dd0, #4b3cd0, #6935c9, #7f2dc1, #9124b8, #b80ba3, #d3028c, #e42076, #ed3d63);
    margin-top: 0px;
    padding: 7em 10em;
    text-align: center;
    color: white;

    
}