.footer {
    width: 100%;
    background-color: #161B7F ;
    color: #0683D7;
    text-align: center;
    margin: 0px;
    padding: 5rem;
}

.footerContactInfo {
    display: flex;
    justify-content: center;
    list-style: none;
    color: #0683D7;
    margin: 0px;
    padding: 0px;
    font-size: 3em;
}

.footerContactInfoItem {
    padding: .3em;
}

.footerContactInfoItemLink {
    text-decoration: none;
    color: #0683D7;
}