html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
